@page {
    size: 60mm 31mm;
    margin: 0mm;
}


body {
    margin: 0;
    padding: 0;
}

.page-break:first-of-type {
    display: none !important;
}

/* Elements to force page breaks */
.page-break {
    width: 60mm;
    left: 0mm;
    height: 30.5mm;
    box-sizing: content-box;
    position: relative;
    page-break-after: always;
    overflow: hidden;
}

.gui-container {
    display: none !important;
}

.list-p {
    margin: 0;
    padding: 0;
    top: 18mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
}
.list-pp {
    margin: 0;
    padding: 0;
    width: 54mm;
    height: 11mm;
    top: 1mm;
    left: 3mm;
    position: absolute;
    font-size: 3mm;
    font-weight: bold;
    overflow-wrap: anywhere;
    word-break: break-all;
    overflow: hidden;
}
.list-ppp {
    margin: 0;
    padding: 0;
    width: 36mm;
    height: 22mm;
    top: 14mm;
    left: 22mm;
    position: absolute;
    font-size: 12mm;
    font-weight: bold;
    text-align: right;
}
.list-pppp {
    margin: 0;
    padding: 0;
    top: 25mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
}
.list-ppppp {
    margin: 0;
    padding: 0;
    top: 14mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
    letter-spacing: 0.5mm;
}
/* Clear both left and right floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


svg {
    margin: 0;
    padding: 0;
    top: 12mm;
    left: 3mm;
    width: 32mm;
    height: 2mm;
    position: absolute;
}

.sansserif {
    font-family: sans-serif;
}
