@page {
    size: 26mm 39mm;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Elements to force page breaks */
.page-break {
    width: 26mm;
    left: 0mm;
    height: 38.5mm;
    box-sizing: content-box;
    position: relative;
    page-break-after: always;
    overflow: hidden;
    border: 1px solid black;
}

.gui-container {
    display: none !important;
}

.list-p {
    top: 3mm;
    left: 3mm;
    position: relative;
}

svg {
    margin: 0;
    padding: 0;
    top: 22mm;
    left: 1mm;
    width: 24mm;
    height: 5mm;
    position: absolute;
}

.sansserif {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2mm;
}