@page {
    size: 60mm 31mm;
    margin: 0mm;
}


body {
    margin: 0;
    padding: 0;
}

.dont-print {
    display: none !important;
}


/* Elements to force page breaks */
.page-break {
    width: 60mm;
    left: 0mm;
    height: 30.5mm;
    box-sizing: content-box;
    position: relative;
    page-break-after: always;
    overflow: hidden;
}

.gui-container {
    display: none !important;
}

#ArticleNr {
    margin: 0;
    padding: 0;
    top: 18mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
    letter-spacing: 0.4mm;
}
#Name {
    margin: 0;
    padding: 0;
    width: 54mm;
    height: 11mm;
    top: 1mm;
    left: 3mm;
    position: absolute;
    font-size: 3mm;
    font-weight: bold;
    overflow-wrap: anywhere;
    word-break: break-all;
    overflow: hidden;
}
#Price {
    margin: 0;
    padding: 0;
    width: 40mm;
    height: 22mm;
    top: 15mm;
    left: 18mm;
    position: absolute;
    font-size: 13mm;
    font-weight: bold;
    text-align: right;
}

#Source {
    margin: 0;
    padding: 0;
    width: 16mm;
    height: 5mm;
    top: 25mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
    letter-spacing: 0.4mm;
}
#GTIN {
    margin: 0;
    padding: 0;
    top: 14.2mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
    letter-spacing: 0.75mm;
}
/* Clear both left and right floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


#Barcode-Code128 {
    margin: 0;
    padding: 0;
    top: 12mm;
    left: 3mm;
    width: 32mm;
    height: 2mm;
    position: absolute;
}

.sansserif {
    font-family: sans-serif;
}
