:root {
    --main-color: #ca0a1c;
    --accent-color-dark: #000000;
    --accent-color-light: #000000;
    --accent-color-grey: #000000;
	--border-color: #000000;

    --header-height: 128px;
    --buttons-height: 48px;
    --article-height: 92px;

    --debug-outline: 1px solid black;
    --debug-outline-red: 1px solid red;
}

* {
    font-family: Arial, sans-serif;
    font-weight: 400;
}

.bold-weight {
    font-weight: 600;
}

.dont-print {
    display: none !important;
}

.page-break {
    width: 60mm;
    left: 0mm;
    height: 30.5mm;
    box-sizing: content-box;
    position: relative;
    page-break-after: auto;
    overflow: hidden;
}

.clean {
    margin: 1cm;
    padding: 0;
}

@page {
    size: A4 portrait;
}

#ArticleList-Container {
    width: 100%;
    height: fit-content;
    margin-top: 32px;
    padding-left: 2.5cm;
    padding-right: 1cm;
    color:#3c3c3b;
}

#Article-Container {
    border-top: 0.4mm solid var(--border-color);
    margin-top: -1mm;
    width: 80%;
    height: var(--article-height);
    display: flex;
}

#Article-Container:first-of-type {
    border-top: 0;
    height: 32px;
    margin-bottom: 2mm;
}




/* ITEMS */
/* ITEMS */



.list-element {
    margin-left: 8px;
    margin-right: 8px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.list-item-description {
    height: 100%;
    width: 100%;
    position: relative;
}

.list-item {
    margin-top: 4px;
}

#Barcode-Container {
    width: 25%;
}

#Barcode-Code128 {
    height: 65%;
    width: 100%;
    margin-left: 0px;
    margin-top: 6px;
}

#GTIN {
    height: var(--article-height*0.25);
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    overflow: hidden;
	font-family: Arial, sans-serif;
}

#Source {
    height: 75%;
    margin-top: 4px;
    overflow: hidden;
}


#ArticleNr-Container {
    width: 15%;
}

#Name-Container {
    width: 35%;
}


#Price-Container {
    width: 10%;
    text-align: right;
}

#Source-Container {
    width: 15%;
}