@page {
    size: 26mm 39mm;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

.dont-print {
    display: none !important;
}

.page-break {
    width: 26mm;
    left: 0mm;
    height: 38.5mm;
    box-sizing: content-box;
    position: relative;
    page-break-after: always;
    overflow: hidden;
}

.gui-container {
    display: none !important;
}

#ArticleNr {
    margin: 0;
    padding: 0;
    top: 16.5mm;
    left: 1mm;
    width: 24mm;
    height: 3mm;
    font-size: 2mm;
    letter-spacing: 0.2mm;
    position: absolute;
}

#Source {
    margin: 0;
    padding: 0;
    top: 19mm;
    left: 1mm;
    width: 24mm;
    height: 2mm;
    font-size: 1.8mm;
    position: absolute;
    letter-spacing: normal;
    overflow: hidden;
}

#Name {
    margin: 0;
    padding: 0;
    top: 1mm;
    left: 1mm;
    width: 24mm;
    height: 15mm;
    font-size: 2.5mm;
    font-weight: bold;
    position: absolute;
    overflow: hidden;
    hyphens: auto;
    hyphenate-limit-chars: auto 5;
}

#GTIN {
    margin: 0;
    padding: 0;
    top: 27.5mm;
    left: 1.5mm;
    width: 24mm;
    height: 3mm;
    font-size: 2mm;
    position: absolute;
    letter-spacing: 0.7mm;
    text-align: center;
}

#Barcode-Code128 {
    margin: 0;
    padding: 0;
    top: 21.5mm;
    left: 1.1mm;
    width: 24mm;
    height: 6mm;
    position: absolute;
}

#Price {
    margin: 0;
    padding: 0;
    top: 29mm;
    left: 1mm;
    width: 24mm;
    height: 11mm;
    font-size: 8mm;
    font-weight: bold;
    text-align: right;
    position: absolute;
}

.sansserif {
    font-family: Arial, sans-serif;
}