@page {
    size: 26mm 39mm;
    margin: 0mm;
}

@font-face {
    font-family: "GenericNormal";
    src: url("fonts/GenericNormal.otf") format("opentype");
}

@font-face {
    font-family: "GenericBold";
    src: url("fonts/GenericBold.otf") format("opentype");
}

* {
    font-family: "GenericNormal", Sans-Serif;
}

.bold-weight {
    font-weight: 600;
}

.dont-print {
    display: none !important;
}

.page-break {
    width: 26mm;
    left: 0mm;
    height: 38.5mm;
    box-sizing: content-box;
    position: relative;
    page-break-after: always;
    overflow: hidden;
}

.clean {
    margin: 0mm;
    padding: 0mm;
}

#ArticleContainer:first-of-type {
    display: none !important;
}

#ArticleNr {
    top: 16.5mm;
    left: 1mm;
    width: 24mm;
    height: 3mm;
    font-size: 2mm;
    letter-spacing: 0.2mm;
    position: absolute;
}

#Source {
    top: 19mm;
    left: 1mm;
    width: 24mm;
    height: 2mm;
    font-size: 1.8mm;
    position: absolute;
    letter-spacing: normal;
    overflow: hidden;
}

#Name {
    top: 1mm;
    left: 1mm;
    width: 24mm;
    height: 15mm;
    font-size: 2.5mm;
    position: absolute;
    overflow: hidden;
    hyphenate-limit-chars: 100 100 100;
}

#GTIN {
    top: 27.5mm;
    left: 1.5mm;
    width: 24mm;
    height: 3mm;
    font-size: 2mm;
    position: absolute;
    letter-spacing: 0.7mm;
    text-align: center;
}

#Barcode-Code128 {
    top: 21.5mm;
    left: 1.1mm;
    width: 24mm;
    height: 6mm;
    position: absolute;
}

#Price {
    top: 29mm;
    left: 1mm;
    width: 24mm;
    height: 11mm;
    font-size: 8mm;
    font-family: "GenericBold", Sans-Serif;
    text-align: right;
    position: absolute;
}