@page {
    size: a4;
    margin: 0mm;
}

@font-face {
    font-family: "GenericNormal";
    src: url("fonts/GenericNormal.otf") format("opentype");
}

@font-face {
    font-family: "GenericBold";
    src: url("fonts/GenericBold.otf") format("opentype");
}

* {
    font-family: "GenericNormal";
    color-adjust: exact;  
    -webkit-print-color-adjust: exact; 
    print-color-adjust: exact; 
}

img {
	display: inline;
    max-width: 99.5%;
}

.bold-weight {
    font-weight: 600;
}

.dont-print {
    display: none !important;
}

.page-break {
    size: a4;
    left: 0mm;
    box-sizing: content-box;
    position: relative;
    page-break-after: always;
    overflow: hidden;
}

.clean {
    margin: 0mm;
    padding: 0mm;
}

#ArticleContainer:first-of-type {
    display: none !important;
}


#ArticleNr {
    top: 230mm;
    right: 25mm;
    width: 60mm;
    height: 2mm;
    font-size: 5mm;
    position: absolute;
    letter-spacing: 0.7mm;
    text-align: center;
}

#Source {
    top: -19mm;
    left: 1mm;
    width: 24mm;
    height: 2mm;
    font-size: 1.8mm;
    position: absolute;
    letter-spacing: normal;
    overflow: hidden;
}

#Name {
    top: 70mm;
    left: 19mm;
    width: 171mm;
    height: 90mm;
    font-size: 14mm;
    font-family: "GenericBold";
    text-align: center;
    position: absolute;
    overflow: hidden;
    hyphenate-limit-chars: 100 100 100;
    color: #3f3f41;
}

#GTIN {
    top: -231mm;
    right: 25mm;
    width: 60mm;
    height: 2mm;
    font-size: 5mm;
    position: absolute;
    letter-spacing: 0.7mm;
    text-align: center;
}

#Barcode-Code128 {
    top: 210mm;
    right: 25mm;
    width: 60mm;
    height: 20mm;
    position: absolute;
    color: #3f3f41;
}

#Price:after {
    content: "€";
}

#Price {
    color: white !important;
    top: 202mm;
    left: 24mm;
    width: 76mm;
    height: 37mm;
    font-size: 20mm;
    font-family: "GenericBold";
    text-align: center;
    line-height: 37mm;
    position: absolute;
    color: #3f3f41;
}