@page {
    size: 60mm 31mm;
    margin: 0mm;
}

* {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
}

.bold-weight {
    font-weight: 600;
}

.dont-print {
    display: none !important;
}

.page-break {
    width: 60mm;
    left: 0mm;
    height: 30.5mm;
    box-sizing: content-box;
    position: relative;
    page-break-after: always;
    overflow: hidden;
}

.clean {
    margin: 0mm;
    padding: 0mm;
}

#ArticleContainer:first-of-type {
    display: none !important;
}

#ArticleNr {
    top: 18mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
    letter-spacing: 0.2mm;
}

#Name {
    width: 54mm;
    height: 11mm;
    top: 1mm;
    left: 3mm;
    position: absolute;
    font-size: 3mm;
    font-weight: bold;
    overflow: hidden;
    hyphens: auto;
    hyphenate-limit-chars: auto 5;
}

#Price {
    width: 40mm;
    height: 22mm;
    top: 15mm;
    left: 18mm;
    position: absolute;
    font-size: 13mm;
    font-weight: bold;
    text-align: right;
}

#Source {
    width: 15mm;
    height: 4mm;
    top: 26mm;
    left: 3mm;
    position: absolute;
    font-size: 1.5mm;
    letter-spacing: 0.1mm;
    line-height: 2mm;
    overflow: hidden;
}

#GTIN {
    top: 14.2mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
    letter-spacing: 0.75mm;
}

#Barcode-Code128 {
    top: 12mm;
    left: 3mm;
    width: 40mm;
    height: 2mm;
    position: absolute;
}
