@page {
    size: 60mm 31mm;
    width: 60mm;
    height: 31mm;
    margin: 0;
    padding: 0;
}

* {
    font-family: Arial;
    margin: 0;
    padding: 0;
/*     border: solid black 1px; */
}


.dont-print {
    display: none !important;
}

.page-break {
    color: black;
    width: 60mm;
    left: 0mm;
    height: 31mm;
    box-sizing: content-box;
    position: relative;
    page-break-after: always;
    overflow: hidden;
}

.hide {
    display: none !important;
}

rect {
    fill: black;
}


#articleNr {
    margin: 0mm;
    padding: 0mm;
    top: 18mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
    letter-spacing: 0.2mm;
}

#name {
    font-weight: 700;
    width: 54mm;
    height: 8.7mm;
    top: 3mm;
    left: 3mm;
    position: absolute;
    font-size: 3.5mm;
    line-height: 4mm;
    overflow: hidden;
    hyphenate-limit-chars: 100 100 100;
}

#price {
    font-weight: 700;
    width: 40mm;
    height: 22mm;
    top: 15mm;
    left: 18mm;
    position: absolute;
    font-size: 13mm;
    text-align: right;
}

#source {
    width: 15mm;
    height: 4mm;
    top: 23mm;
    left: 3mm;
    position: absolute;
    font-size: 1.5mm;
    letter-spacing: 0.1mm;
    line-height: 2mm;
    overflow: hidden;
}

#gtin {
    top: 14.7mm;
    left: 3mm;
    position: absolute;
    font-size: 2mm;
    letter-spacing: 0.75mm;
}

#Barcode-Code128 {
    top: 12.5mm;
    left: 3mm;
    width: 40mm;
    height: 2mm;
    position: absolute;
}
