:root {
    --main-color: #ca0a1c;
    --accent-color-dark: #3c3c3b;
    --accent-color-light: #4e5052;
    --accent-color-grey: #d3d3d3;
	--border-color: #a4a4a4;

    --header-height: 128px;
    --buttons-height: 48px;
    --article-height: 92px;

    --debug-outline: 1px solid black;
    --debug-outline-red: 1px solid red;
}


* {
    margin: 0;
    padding: 0;
/*     border: 1px solid black; */
}

.hide {
    display: none !important;
}


/* HEADER */
/* HEADER */




#Header-Container {
    font-family: "Myriad", Sans-Serif;
    height: var(--header-height);
    width: 100%;
    background-color: var(--main-color);
}

#Main-Logo {
    margin: 14px;
    width: 100px;
    height: 100px;
    float: left;
}

#Article-Title {
    color: white;
    font-size: 32px;
    line-height: var(--header-height);
    float: left;
    height:100%;
    width: calc(100% - var(--header-height));
    text-align: left;
    overflow: hidden;
    font-weight: 700;
}




/* BUTTONS */
/* BUTTONS */




#Button-Container {
    background-color: var(--accent-color-dark);
    height: var(--buttons-height);
    width: 100%;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--accent-color-dark);
    border: 0;
    color: var(--accent-color-grey);
    width: fit-content;
    margin-left: 8px;
    margin-right: 8px;
    height: var(--buttons-height);
    font-size: 1em;
    font-family: Sans-Serif;
    font-weight: 700;
    padding-right: 8px;
    padding-left: 8px;
}

button:hover {
    background-color: var(--accent-color-light);
}




/* ARTICLELIST */
/* ARTICLELIST */




#ArticleList-Container {
    font-family: "Myriad", Sans-Serif;
    width: 100%;
    height: fit-content;
    margin-top: 16px;
    padding-left: 20%;
    padding-right: 20%;
    color:#3c3c3b;
}

.header {
    margin-top: -1px;
    width: 60%;
    height: 32px;
    display: flex;
    font-weight: 400;
}

.article {
    border-top: 1px solid var(--border-color);
    margin-bottom: 4px;
    width: 60%;
    height: var(--article-height);
    display: flex;
    font-weight: 300;
}

.field {
    padding: 4px;
    text-align: center;
}

.field.barcode {
    width: 30%;
    min-width: 10px;
}

.field.articleNr {
    width: 15%;
}

.field.source {
    width: 15%;
}

.field.name {
    width: 45%;
}

.field.price {
    width: 5%;
}

#header-barcode {
    text-align: left;
}

#Barcode-Code128 {
    height: 70%;
    width: 100%;
}

#gtin {
    letter-spacing: 8px;
    padding-left: 4px;
    overflow: hidden;
}