:root {
    --main-color: #ca0a1c;
    --accent-color-dark: #3c3c3b;
    --accent-color-light: #4e5052;
    --accent-color-grey: #d3d3d3;
	--border-color: #a4a4a4;

    --header-height: 128px;
    --buttons-height: 48px;
    --article-height: 92px;

    --debug-outline: 1px solid black;
    --debug-outline-red: 1px solid red;
}

@font-face {
    font-family: "GenericNormal";
    src: url("fonts/GenericNormal.otf") format("opentype");
}

@font-face {
    font-family: "GenericBold";
    src: url("fonts/GenericBold.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "GenericNormal";
    font-weight: 400;
}

.bold-weight {
    font-weight: 600;
}

.hide {
    display: none !important;
}


/* HEADER */
/* HEADER */




#Header-Container {
    height: var(--header-height);
    width: 100%;
    background-color: var(--main-color);
}

#Main-Logo {
    margin: 14px;
    width: 100px;
    height: 100px;
    float: left;
}

#Article-Title {
    color: white;
    font-size: 32px;
    line-height: var(--header-height);
    float: left;
    height:100%;
    width: calc(100% - var(--header-height));
    text-align: left;
    overflow: hidden;
}




/* BUTTONS */
/* BUTTONS */




#Button-Container {
    background-color: var(--accent-color-dark);
    height: var(--buttons-height);
    width: 100%;
    margin-top: 4px;
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--accent-color-dark);
    border: 0;
    color: var(--accent-color-grey);
    width: fit-content;
    margin-top: calc(var(--buttons-height)*0.25);
    margin-left: 8px;
    margin-right: 8px;
    height: calc(var(--buttons-height)*0.75);
    font-size: 1.2em;
    font-family: "GenericBold";
    padding-right: 8px;
    padding-left: 8px;
}

button:hover {
    background-color: var(--accent-color-light);
}




/* ARTICLELIST */
/* ARTICLELIST */




#ArticleList-Container {
    width: 100%;
    height: fit-content;
    margin-top: 22px;
    padding-left: 12.5%;
    padding-right: 12.5%;
    color:#3c3c3b;
}

#Article-Container {
    border-top: 1px solid var(--border-color);
    margin-top: -1px;
    width: 75%;
    height: var(--article-height);
    display: flex;
}

#Article-Container:first-of-type {
    border-top: 0;
    height: 32px;
}




/* ITEMS */
/* ITEMS */



.list-element {
    margin-left: 8px;
    margin-right: 8px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.list-item-description {
    height: 100%;
    width: 100%;
    position: relative;
}

.list-item {
    margin-top: 4px;
}

#Barcode-Container {
    width: 25%;
}

#Barcode-Code128 {
    height: 65%;
    width: 100%;
    margin-left: 0px;
    margin-top: 6px;
}

#GTIN {
    height: var(--article-height*0.25);
    width: 100%;
    text-align: center;
    letter-spacing: 5px;
    overflow: hidden;
	font-family: Arial, sans-serif;
}

#Source {
    height: 75%;
    margin-top: 4px;
    overflow: hidden;
}


#ArticleNr-Container {
    width: 15%;
}

#Name-Container {
    width: 35%;
}


#Price-Container {
    width: 10%;
    text-align: right;
}

#Source-Container {
    width: 15%;
}